h1{
  text-align: center;

}
#main_heading {
  text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px black;
  color: orange ;
}
h2 {
  text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    opacity: 0.75;
    filter: alpha(opacity=50);
}
img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
}
.firstrow {
  color: darkblue ;
  font-weight: 900;
}
